body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    opacity: 0.8;
    color: whitesmoke;
    height: 48px;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

li a{
    text-decoration: none;
    color: whitesmoke;
  }

.compra-online {
    background-color: #fbfbfd;
    margin-top: 65px;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
    height: 50px;
}
/* highlighted products */

.iphone-12 {
    margin:0;
    background-image: url(/images/iphone_12_updated__jepm2xpxncuy_large.jpg);
    height: 100vh;
    background-size: contain;
    background-position: top center;
    text-align: center;
}

.iphone-12-pro {
    background-image: url(/images/iphone_12_pro_us__e5oyysg4k0ya_large.jpg);
    height: 100vh;
    background-size: auto;
    background-position: center top;
    text-align: center;
    color: whitesmoke;
}

.ipad-pro {
    background-image: url(/images/hero_ipad_pro__gl982dtu49im_large.jpg);
    height: 100vh;
    background-size: auto;
    background-position: center top;
    text-align: center;
    color: whitesmoke;
}
h1 {
    font-size: 56px;
    margin-bottom: 0;
    text-align: center;
}

h3 {
    font-size: 28px;
    margin: 0.5em;
    font-weight: 400;
    text-align: center;
}

span {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


/* other products - grid */

.other-products {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 30% 30% 30%;
    gap: 10px;


/* media queries */
    
@media screen and (max-width: 733px) {
    .iphone-12 {
        background-image: url(/images/iphone_12_updated__jepm2xpxncuy_small_2x.jpg);
        height: 100vh;
        background-size: cover;
        background-position: top center;
    }

    .iphone-12-pro {
        background-image: url(/images/iphone_12_pro_us__e5oyysg4k0ya_small.jpg);
        height: 100vh;
        background-size: auto;
        background-position: center top;
    }

    h1 {
        font-size: 48px;
    }
}
